* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

  z-index: 1;
}

.input-box {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  left: 40%;
  align-items: center;
}

.input {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 24px;
}
.btn {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(211, 128, 128);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(187, 57, 57);
}
