* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html,
body {
  overflow: hidden;
  position: relative;
}

.zoom {
  position: absolute;
  top: 2;
  z-index: 2;
  color: aqua;
}
